pipeline/pl_cotacao_dolar_api.json
{
	"name": "pl_cotacao_dolar_api",
	"properties": {
		"activities": [
			{
				"name": "data_ontem",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_ontem",
					"value": {
						"value": "@convertFromUtc(utcNow(), 'E. South America Standard Time', 'MM-dd-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dados_cotacao_api",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "data_ontem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia(dataCotacao=dataCotacao)?dataCotacao=''', formatDateTime(variables('data_ontem'),'MM-dd-yyyy'), '''&$format=json&$select=cotacaoCompra,dataHoraCotacao')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "confere_existencia_dados",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "dados_cotacao_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(activity('dados_cotacao_api').output.value))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copia_salva",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 3,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_api_bc_dolar",
									"type": "DatasetReference",
									"parameters": {
										"data": "@formatDateTime(variables('data_ontem'), 'MM-dd-yyyy')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_data_lake_json_generico",
									"type": "DatasetReference",
									"parameters": {
										"container": "dados-api",
										"nome_arquivo": {
											"value": "@concat('cotacao_dolar_', formatDateTime(variables('data_ontem'), 'dd-MM-yyyy'))",
											"type": "Expression"
										},
										"encoding": "UTF-8"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"data_ontem": {
				"type": "String"
			}
		},
		"annotations": []
	}
}