pipeline/pl_cotacao_moeda_api_dw.json
{
	"name": "pl_cotacao_moeda_api_dw",
	"properties": {
		"activities": [
			{
				"name": "data_ontem",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_ontem",
					"value": {
						"value": "@formatDateTime(adddays(convertFromUtc(utcNow(), 'E. South America Standard Time'), -1), 'MM-dd-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dados_cotacao_api",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaDia(moeda=@moeda,dataCotacao=@dataCotacao)?@moeda=''', variables('moeda'), '''&@dataCotacao=''', variables('data_ontem'), '''&$filter=contains(tipoBoletim,''', pipeline().parameters.tipo_boletim, ''')&$format=json&$select=cotacaoCompra,dataHoraCotacao')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "confere_existencia_dados",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "dados_cotacao_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(activity('dados_cotacao_api').output.value))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copia_salva_dl",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:15:00",
								"retry": 3,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_api_bc_dolar",
									"type": "DatasetReference",
									"parameters": {
										"data": "@formatDateTime(variables('data_ontem'), 'MM-dd-yyyy')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_data_lake_json_generico",
									"type": "DatasetReference",
									"parameters": {
										"container": "dados-api",
										"nome_arquivo": {
											"value": "@concat('cotacao_dolar_', formatDateTime(variables('data_ontem'), 'dd-MM-yyyy'), '.json')",
											"type": "Expression"
										},
										"encoding": "UTF-8"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "para_cada_moeda",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "data_ontem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('moedas')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "consulta_api",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 3,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaDia(moeda=@moeda,dataCotacao=@dataCotacao)?@moeda=''', item(), '''&@dataCotacao=''', variables('data_ontem'), '''&$filter=contains(tipoBoletim,''', pipeline().parameters.tipo_boletim, ''')&$format=json&$select=cotacaoCompra,dataHoraCotacao')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "testa_valor",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "consulta_api",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "nome_moeda",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(empty(activity('consulta_api').output.value))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "data_cotacao",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "data_cotacao",
											"value": {
												"value": "@substring(activity('consulta_api').output.value[0]['dataHoraCotacao'], 0, 10)\n\n",
												"type": "Expression"
											}
										}
									},
									{
										"name": "valor_cotacao",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "valor_compra",
											"value": {
												"value": "@string(activity('consulta_api').output.value[0]['cotacaoCompra'])",
												"type": "Expression"
											}
										}
									},
									{
										"name": "insert_dw",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "data_cotacao",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "valor_cotacao",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 3,
											"retryIntervalInSeconds": 60,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_azure_sql_database",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat('''insert into [corporativo].[fato_cotacao_moeda] ([DATA_COTACAO], [SIGLA_MOEDA_BC], [COTACAO]) values (''',variables('data_cotacao'), ''', ''', variables('nome_moeda'), ''',', variables('valor_compra'), ')')",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						},
						{
							"name": "nome_moeda",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nome_moeda",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tipo_boletim": {
				"type": "string",
				"defaultValue": "Fechamento"
			}
		},
		"variables": {
			"data_ontem": {
				"type": "String"
			},
			"moedas": {
				"type": "Array",
				"defaultValue": [
					"EUR"
				]
			},
			"nome_moeda": {
				"type": "String"
			},
			"data_cotacao": {
				"type": "String"
			},
			"valor_compra": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Lake/API"
		},
		"annotations": []
	}
}