pipeline/pl_cotacao_dolar_api.json
{
	"name": "pl_cotacao_dolar_api",
	"properties": {
		"activities": [
			{
				"name": "busca_dados_cotacao_api",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_bc_dolar",
						"type": "DatasetReference",
						"parameters": {
							"data_inicio": {
								"value": "@formatDateTime(variables('primeira_data'), 'MM-dd-yyyy')",
								"type": "Expression"
							},
							"data_fim": {
								"value": "@formatDateTime(variables('data_ontem'), 'MM-dd-yyyy')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_data_lake_json_generico",
						"type": "DatasetReference",
						"parameters": {
							"container": "dados-api"
						}
					}
				]
			},
			{
				"name": "data_ontem",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data_ontem",
					"value": {
						"value": "@adddays(utcNow(), -1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "primeira_data",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "primeira_data",
					"value": {
						"value": "@adddays(utcnow(), -5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dados_cotacao_api",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "data_ontem",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "primeira_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial=''', formatDateTime(variables('primeira_data'), 'MM-dd-yyyy'), '''&@dataFinalCotacao=''', formatDateTime(variables('data_ontem'), 'MM-dd-yyyy'), '''&$format=json&$select=cotacaoVenda,dataHoraCotacao')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "confere_existencia_dados",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "dados_cotacao_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('dados_cotacao_api').output)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"data_ontem": {
				"type": "String"
			},
			"primeira_data": {
				"type": "String"
			}
		},
		"annotations": []
	}
}