pipeline/pl_fato_pedido_sql.json
{
	"name": "pl_fato_pedido_sql",
	"properties": {
		"activities": [
			{
				"name": "copia_salva",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "nome_tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_fato_pedido\nWHERE\n    dt_emissao >= f_dt_inicio_carga(5)",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PEDIDO",
									"type": "String"
								},
								"sink": {
									"name": "PEDIDO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DT_EMISSAO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DT_EMISSAO",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EVENTO",
									"type": "String"
								},
								"sink": {
									"name": "EVENTO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "VENDEDOR",
									"type": "Decimal"
								},
								"sink": {
									"name": "VENDEDOR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 3
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_oracle_generico",
						"type": "DatasetReference",
						"parameters": {
							"owner": "CONSULTORIA_BI",
							"view": "*"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azure_sql_db_generico",
						"type": "DatasetReference",
						"parameters": {
							"schema": {
								"value": "@variables('schema')",
								"type": "Expression"
							},
							"tabela": {
								"value": "@variables('nome_tabela')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "nome_tabela",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nome_tabela",
					"value": {
						"value": "@replace(replace(pipeline().Pipeline, 'pl_', ''), '_sql', '')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"nome_tabela": {
				"type": "String"
			},
			"schema": {
				"type": "String",
				"defaultValue": "comercial"
			}
		},
		"folder": {
			"name": "Azure SQL Server"
		},
		"annotations": []
	}
}