pipeline/pl_fato_cotacao_moeda.json
{
	"name": "pl_fato_cotacao_moeda",
	"properties": {
		"activities": [
			{
				"name": "nome_arquivos",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_data_lake_json_generico",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('container')",
								"type": "Expression"
							},
							"nome_arquivo": "*",
							"encoding": "UTF-8"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "arquivos_cotacao",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "nome_arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('nome_arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, pipeline().parameters.arquivos_cotacao)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "para_cada_arquivo_cotacao",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "arquivos_cotacao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('arquivos_cotacao').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "cotacao",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_data_lake_json_generico",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@variables('container')",
											"type": "Expression"
										},
										"nome_arquivo": {
											"value": "@item()",
											"type": "Expression"
										},
										"encoding": "UTF-8"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "container",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "container",
					"value": {
						"value": "@pipeline().globalParameters.dl_dados_api",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"arquivos_cotacao": {
				"type": "string",
				"defaultValue": "cotacao_"
			}
		},
		"variables": {
			"nome_tabela": {
				"type": "String"
			},
			"schema": {
				"type": "String",
				"defaultValue": "faturamento"
			},
			"container": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azure SQL Server"
		},
		"annotations": []
	}
}