pipeline/pl_fato_cotacao_moeda.json
{
	"name": "pl_fato_cotacao_moeda",
	"properties": {
		"activities": [
			{
				"name": "conteudo_json_cotacao",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_data_lake_json_generico",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.dl_dados_api",
								"type": "Expression"
							},
							"nome_arquivo": "*",
							"encoding": "UTF-8"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "nome_arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_data_lake_json_generico",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.dl_dados_api",
								"type": "Expression"
							},
							"nome_arquivo": "*",
							"encoding": "UTF-8"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "arquivos_cotacao",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "nome_arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('nome_arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, pipeline().parameters.arquivos_cotacao)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"arquivos_cotacao": {
				"type": "string",
				"defaultValue": "cotacao_"
			}
		},
		"variables": {
			"nome_tabela": {
				"type": "String"
			},
			"schema": {
				"type": "String",
				"defaultValue": "faturamento"
			}
		},
		"folder": {
			"name": "Azure SQL Server"
		},
		"annotations": []
	}
}