pipeline/teste.json
{
	"name": "teste",
	"properties": {
		"activities": [
			{
				"name": "nome_arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_data_lake_csv_generico",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
								"type": "Expression"
							},
							"nome_arquivo": "*",
							"separador": "*",
							"encoding": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "cada_arquivo",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "nome_arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('nome_arquivos').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "nome_arquivo",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nome_arquivo",
								"value": {
									"value": "@item()[0]['name']",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"nome_arquivo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tarefas"
		},
		"annotations": []
	}
}