adf-consultoria-bi/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-consultoria-bi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_data_lake_json_generico')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"nome_arquivo": {
						"type": "string"
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					}
				},
				"folder": {
					"name": "Data Lake/Genéricos"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nome_arquivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"encodingName": {
						"value": "@dataset().encoding",
						"type": "Expression"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_data_lake_latitude_long_clientes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Data Lake/Específicos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Clientes X Latitude e Longitude.CSV",
						"fileSystem": "arquivos-csv"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_data_lake_parquet_generico')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"nome_arquivo": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Data Lake/Genéricos"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nome_arquivo",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_data_lake_risco_credito')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Data Lake/Específicos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Classificação dos Clientes - Risco de Crédito.CSV",
						"fileSystem": "arquivos-csv"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oracle_generico')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oracle_servidor",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"owner": {
						"type": "string",
						"defaultValue": "CONSULTORIA_BI"
					},
					"view": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BD Oracle"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().owner",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().view",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_arqs_csv_excel_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nome_arquivos_pasta",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_data_lake_excel_generico",
								"type": "DatasetReference",
								"parameters": {
									"nome_arquivo": "*",
									"nome_aba": "*",
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "para_cada_csv",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "filtro_arqs_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('filtro_arqs_csv').output.Value\n\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "separa_latitude_longitude",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().name, pipeline().parameters.base_arq_latitude_long)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "copiar_outros_csv",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 60,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_data_lake_csv_generico",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().parameters.container",
																"type": "Expression"
															},
															"nome_arquivo": {
																"value": "@item().name",
																"type": "Expression"
															},
															"separador": {
																"value": "@pipeline().parameters.separador_outros_csv",
																"type": "Expression"
															},
															"encoding": {
																"value": "@pipeline().parameters.encoding_outros_csv",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_data_lake_csv_generico",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@pipeline().globalParameters.dl_arquivos_csv",
																"type": "Expression"
															},
															"nome_arquivo": {
																"value": "@item().name",
																"type": "Expression"
															},
															"separador": {
																"value": "@pipeline().globalParameters.separador_padrao",
																"type": "Expression"
															},
															"encoding": {
																"value": "@pipeline().globalParameters.encoding_padrao",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "ano_mes_item_csv",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "ano_mes_item_csv",
													"value": {
														"value": "@substring(item().name, add(indexOf(item().name, '('), 1), sub(indexOf(item().name, ')'), add(indexOf(item().name, '('), 1)))\n\n",
														"type": "Expression"
													}
												}
											},
											{
												"name": "ano_mes_array_csv",
												"type": "AppendVariable",
												"dependsOn": [
													{
														"activity": "ano_mes_item_csv",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "ano_mes_array_csv",
													"value": {
														"value": "@int(replace(variables('ano_mes_item_csv'), '-', ''))\n\n",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "filtro_arqs_csv",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "espera",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('nome_arquivos_pasta').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name, '.CSV')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ano_mes_filtro_csv",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "para_cada_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ano_mes_filtro_csv",
							"value": {
								"value": "@concat(substring(string(max(variables('ano_mes_array_csv'))), 0, 4), '-', substring(string(max(variables('ano_mes_array_csv'))), 4, 2))\n\n\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "copia_arq_latitude_longitude",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ano_mes_filtro_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(pipeline().parameters.base_arq_latitude_long, ' (', variables('ano_mes_filtro_csv'), ').CSV')",
										"type": "Expression"
									},
									"separador": {
										"value": "@pipeline().parameters.separador_outros_csv",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.encoding_outros_csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_arquivos_csv",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(pipeline().parameters.base_arq_latitude_long, '.CSV')",
										"type": "Expression"
									},
									"separador": {
										"value": "@pipeline().globalParameters.separador_padrao",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().globalParameters.encoding_padrao",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "filtro_arqs_risco_credito",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "nome_arquivos_pasta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('nome_arquivos_pasta').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name, pipeline().parameters.base_arq_risco_credito)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "para_cada_arq_risco_credito",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "filtro_arqs_risco_credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('filtro_arqs_risco_credito').output.Value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ano_mes_item_excel",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "ano_mes_item_excel",
										"value": {
											"value": "@substring(item().name, add(indexOf(item().name, '('), 1), sub(indexOf(item().name, ')'), add(indexOf(item().name, '('), 1)))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ano_mes_array_excel",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "ano_mes_item_excel",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ano_mes_array_excel",
										"value": {
											"value": "@int(replace(variables('ano_mes_item_excel'), '-', ''))",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "ano_mes_filtro_excel",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "para_cada_arq_risco_credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ano_mes_filtro_excel",
							"value": {
								"value": "@concat(substring(string(max(variables('ano_mes_array_excel'))), 0, 4), '-', substring(string(max(variables('ano_mes_array_excel'))), 4, 2))\n\n\n\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "copia_arq_risco_credito",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ano_mes_filtro_excel",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RISCO_CREDITO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RISCO_CREDITO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SIGLA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIGLA",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_data_lake_excel_generico",
								"type": "DatasetReference",
								"parameters": {
									"nome_arquivo": {
										"value": "@concat(pipeline().parameters.base_arq_risco_credito, ' (', variables('ano_mes_filtro_excel'), ').xlsx')",
										"type": "Expression"
									},
									"nome_aba": {
										"value": "@pipeline().parameters.aba_risco_credito",
										"type": "Expression"
									},
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_arquivos_csv",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(pipeline().parameters.base_arq_risco_credito, '.CSV')",
										"type": "Expression"
									},
									"separador": {
										"value": "@pipeline().globalParameters.separador_padrao",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().globalParameters.encoding_padrao",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "espera",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "nome_arquivos_pasta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 120
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"separador_outros_csv": {
						"type": "string",
						"defaultValue": ","
					},
					"encoding_outros_csv": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"container": {
						"type": "string",
						"defaultValue": "raw-files"
					},
					"base_arq_latitude_long": {
						"type": "string",
						"defaultValue": "Clientes X Latitude e Longitude"
					},
					"base_arq_risco_credito": {
						"type": "string",
						"defaultValue": "Classificação dos Clientes - Risco de Crédito"
					},
					"aba_risco_credito": {
						"type": "string",
						"defaultValue": "Dados"
					}
				},
				"variables": {
					"ano_mes_item_csv": {
						"type": "String"
					},
					"ano_mes_array_csv": {
						"type": "Array"
					},
					"ano_mes_filtro_csv": {
						"type": "String"
					},
					"ano_mes_item_excel": {
						"type": "String"
					},
					"ano_mes_array_excel": {
						"type": "Array"
					},
					"ano_mes_filtro_excel": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Tarefas/Data Lake"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dimensao_evento_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "nome_tabela",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_dimensao_evento\nWHERE\n    dt_desativacao IS NULL OR dt_desativacao >= f_dt_inicio_carga(5)",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@concat('TRUNCATE TABLE ', variables('schema'), '.', variables('nome_tabela'))",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EVENTO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EVENTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRICAO_EVENTO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRICAO_EVENTO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OPERACAO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OPERACAO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azure_sql_db_generico",
								"type": "DatasetReference",
								"parameters": {
									"schema": {
										"value": "@variables('schema')",
										"type": "Expression"
									},
									"tabela": {
										"value": "@variables('nome_tabela')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "nome_tabela",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "nome_tabela",
							"value": {
								"value": "@replace(replace(pipeline().Pipeline, 'pl_', ''), '_sql', '')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nome_tabela": {
						"type": "String"
					},
					"schema": {
						"type": "String",
						"defaultValue": "faturamento"
					}
				},
				"folder": {
					"name": "Tarefas/Azure SQL Server"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_exclui_arqs_tabelas-bd_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nome_arquivos",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": "*",
									"separador": "*",
									"encoding": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "cada_arquivo",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "nome_arquivos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('nome_arquivos').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "nome_arquivo",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nome_arquivo",
										"value": {
											"value": "@item()['name']",
											"type": "Expression"
										}
									}
								},
								{
									"name": "excluir_arquivo",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "nome_arquivo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_data_lake_csv_generico",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
													"type": "Expression"
												},
												"nome_arquivo": {
													"value": "@variables('nome_arquivo')",
													"type": "Expression"
												},
												"separador": "*",
												"encoding": "*"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nome_arquivo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Tarefas/Exclusões"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_exclui_arquivos-csv_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nome_arquivos",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_arquivos_csv",
										"type": "Expression"
									},
									"nome_arquivo": "*",
									"separador": "*",
									"encoding": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "cada_arquivo",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "nome_arquivos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('nome_arquivos').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "nome_arquivo",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nome_arquivo",
										"value": {
											"value": "@item()['name']",
											"type": "Expression"
										}
									}
								},
								{
									"name": "excluir_arquivo",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "nome_arquivo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_data_lake_csv_generico",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@pipeline().globalParameters.dl_arquivos_csv",
													"type": "Expression"
												},
												"nome_arquivo": {
													"value": "@variables('nome_arquivo')",
													"type": "Expression"
												},
												"separador": "*",
												"encoding": "*"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nome_arquivo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Tarefas/Exclusões"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_dimensao_cliente_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_dimensao_cliente\nWHERE\n    dt_desativacao IS NULL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DT_DESATIVACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_DESATIVACAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PORTE",
											"type": "String"
										},
										"sink": {
											"name": "PORTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl', ''), '.csv')",
										"type": "Expression"
									},
									"separador": {
										"value": "@pipeline().globalParameters.separador_padrao",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().globalParameters.encoding_padrao",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_dimensao_cliente_dl_primeira')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_dimensao_cliente\nWHERE\n    dt_desativacao IS NULL OR dt_desativacao >= f_dt_inicio_carga(6)",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_CLIENTE",
											"type": "String"
										},
										"sink": {
											"name": "NOME_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DT_DESATIVACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_DESATIVACAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PORTE",
											"type": "String"
										},
										"sink": {
											"name": "PORTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl_primeira', ''), '.csv')",
										"type": "Expression"
									},
									"separador": {
										"value": "@pipeline().globalParameters.separador_padrao",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().globalParameters.encoding_padrao",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados/Primeira Carga"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_dimensao_produto_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_dimensao_produto\nWHERE\n    dt_desativacao IS NULL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SKU",
											"type": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRODUTO",
											"type": "String"
										},
										"sink": {
											"name": "PRODUTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DT_DESATIVACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_DESATIVACAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORIA",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORIA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ARMAZEM",
											"type": "String"
										},
										"sink": {
											"name": "ARMAZEM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_dimensao_produto_dl_primeira')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_dimensao_produto\nWHERE\n    dt_desativacao IS NULL OR dt_desativacao >= f_dt_inicio_carga(6)",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SKU",
											"type": "String"
										},
										"sink": {
											"name": "SKU",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRODUTO",
											"type": "String"
										},
										"sink": {
											"name": "PRODUTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DT_DESATIVACAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DT_DESATIVACAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORIA",
											"type": "String"
										},
										"sink": {
											"name": "CATEGORIA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ARMAZEM",
											"type": "String"
										},
										"sink": {
											"name": "ARMAZEM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl_primeira', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados/Primeira Carga"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_dimensao_vendedor_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_VENDEDOR",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_VENDEDOR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMPLETO",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMPLETO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CARGO",
											"type": "String"
										},
										"sink": {
											"name": "CARGO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REGIAO_VENDA",
											"type": "String"
										},
										"sink": {
											"name": "REGIAO_VENDA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIDADE_ATUACAO",
											"type": "Decimal"
										},
										"sink": {
											"name": "CIDADE_ATUACAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_SUP_1",
											"type": "Double"
										},
										"sink": {
											"name": "COD_SUP_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMP_1",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMP_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_SUP_2",
											"type": "Double"
										},
										"sink": {
											"name": "COD_SUP_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMP_2",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMP_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_SUP_3",
											"type": "Double"
										},
										"sink": {
											"name": "COD_SUP_3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMP_3",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMP_3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_SUP_4",
											"type": "Double"
										},
										"sink": {
											"name": "COD_SUP_4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMP_4",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMP_4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_SUP_5",
											"type": "Double"
										},
										"sink": {
											"name": "COD_SUP_5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NOME_COMP_5",
											"type": "String"
										},
										"sink": {
											"name": "NOME_COMP_5",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "V_DIMENSAO_VENDEDOR"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_fato_faturamento_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_fato_faturamento\nWHERE\n    data_emissao >= f_dt_carga_incremental(60)",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NOTA_FISCAL",
											"type": "String"
										},
										"sink": {
											"name": "NOTA_FISCAL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DATA_EMISSAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATA_EMISSAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_EVENTO",
											"type": "String"
										},
										"sink": {
											"name": "COD_EVENTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PEDIDO_VENDA",
											"type": "String"
										},
										"sink": {
											"name": "PEDIDO_VENDA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SKU_PRODUTO",
											"type": "String"
										},
										"sink": {
											"name": "SKU_PRODUTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNID",
											"type": "String"
										},
										"sink": {
											"name": "UNID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUANTIDADE",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTIDADE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRECO_UNITARIO",
											"type": "Double"
										},
										"sink": {
											"name": "PRECO_UNITARIO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COND_FRETE",
											"type": "String"
										},
										"sink": {
											"name": "COND_FRETE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CUSTO_FRETE_UNIT",
											"type": "Double"
										},
										"sink": {
											"name": "CUSTO_FRETE_UNIT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NF_ORIGEM_DEV",
											"type": "String"
										},
										"sink": {
											"name": "NF_ORIGEM_DEV",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_fato_faturamento_dl_primeira')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT\n    *\nFROM\n    v_fato_faturamento\nWHERE\n    data_emissao >= f_dt_inicio_carga(5)",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NOTA_FISCAL",
											"type": "String"
										},
										"sink": {
											"name": "NOTA_FISCAL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DATA_EMISSAO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATA_EMISSAO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_EVENTO",
											"type": "String"
										},
										"sink": {
											"name": "COD_EVENTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PEDIDO_VENDA",
											"type": "String"
										},
										"sink": {
											"name": "PEDIDO_VENDA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SKU_PRODUTO",
											"type": "String"
										},
										"sink": {
											"name": "SKU_PRODUTO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNID",
											"type": "String"
										},
										"sink": {
											"name": "UNID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUANTIDADE",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTIDADE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRECO_UNITARIO",
											"type": "Double"
										},
										"sink": {
											"name": "PRECO_UNITARIO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "COND_FRETE",
											"type": "String"
										},
										"sink": {
											"name": "COND_FRETE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CUSTO_FRETE_UNIT",
											"type": "Double"
										},
										"sink": {
											"name": "CUSTO_FRETE_UNIT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NF_ORIGEM_DEV",
											"type": "String"
										},
										"sink": {
											"name": "NF_ORIGEM_DEV",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl_primeira', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados/Primeira Carga"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_v_interm_enderecos_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copia_salva",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COD_CIDADE",
											"type": "Decimal"
										},
										"sink": {
											"name": "COD_CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CIDADE",
											"type": "String"
										},
										"sink": {
											"name": "CIDADE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ESTADO",
											"type": "String"
										},
										"sink": {
											"name": "ESTADO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PAIS",
											"type": "String"
										},
										"sink": {
											"name": "PAIS",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_oracle_generico",
								"type": "DatasetReference",
								"parameters": {
									"owner": "CONSULTORIA_BI",
									"view": "V_INTERM_ENDERECOS"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_data_lake_csv_generico",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().globalParameters.dl_container_tabelas_bd",
										"type": "Expression"
									},
									"nome_arquivo": {
										"value": "@concat(replace(replace(pipeline().Pipeline, 'pl_v_', ''), '_dl', ''), '.csv')",
										"type": "Expression"
									},
									"separador": "@pipeline().globalParameters.separador_padrao",
									"encoding": "@pipeline().globalParameters.encoding_padrao"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Tarefas/Data Lake/Banco de dados"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oracle_generico')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dimensao_clientes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "CSVdimClientes",
							"description": "Import data from ds_data_lake_bd_dim_clientes"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_enderecos",
								"type": "DatasetReference"
							},
							"name": "CSVenderecos"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "DBdimCliente"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_risco_credito",
								"type": "DatasetReference"
							},
							"name": "CSVriscoCredito"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_latitude_long_clientes",
								"type": "DatasetReference"
							},
							"name": "CSVlatitudeLongitude"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "InsereBD2"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "AlteraBD1"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "InsereBD1"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "AlteraBD2"
						}
					],
					"transformations": [
						{
							"name": "DadosAlteradosSCD2"
						},
						{
							"name": "ColunaDtFim"
						},
						{
							"name": "Condicao1"
						},
						{
							"name": "LeftJoinEnderecos"
						},
						{
							"name": "DadosAtualizados"
						},
						{
							"name": "SelecionaColunas"
						},
						{
							"name": "DadosNovos"
						},
						{
							"name": "LeftJoinLatitudeLongitude"
						},
						{
							"name": "LeftJoinRiscoCredito"
						},
						{
							"name": "ClassificaCodCliente1"
						},
						{
							"name": "ClassificaCodCliente2"
						},
						{
							"name": "DadosAlteradosSCD1"
						},
						{
							"name": "Condicao2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          DT_DESATIVACAO as string,",
						"          PORTE as string,",
						"          COD_CIDADE as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVdimClientes",
						"source(output(",
						"          COD_CIDADE as integer,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVenderecos",
						"source(output(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          LATITUDE as float,",
						"          LONGITUDE as float,",
						"          ATIVO as string,",
						"          DT_FIM as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n       [SK_CLIENTE] \\n      ,[COD_CLIENTE]\\n      ,[NOME_CLIENTE]\\n      ,[PORTE]\\n      ,[RISCO_CREDITO]\\n      ,[SIGLA]\\n      ,[CIDADE]\\n      ,[ESTADO]\\n      ,[LATITUDE]\\n      ,[LONGITUDE]\\n      ,[ATIVO]\\n      ,[DT_FIM]\\nFROM [comercial].[dimensao_cliente]\\nWHERE \\n     [ATIVO] = \\'S\\'',",
						"     format: 'query') ~> DBdimCliente",
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVriscoCredito",
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          LATITUDE as float,",
						"          LONGITUDE as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVlatitudeLongitude",
						"DBdimCliente, SelecionaColunas exists(DBdimCliente@COD_CLIENTE == SelecionaColunas@COD_CLIENTE && (     \r",
						"     DBdimCliente@NOME_CLIENTE != SelecionaColunas@NOME_CLIENTE || \r",
						"     DBdimCliente@PORTE != SelecionaColunas@PORTE || \r",
						"     DBdimCliente@RISCO_CREDITO != SelecionaColunas@RISCO_CREDITO ||\r",
						"     DBdimCliente@CIDADE != SelecionaColunas@CIDADE || \r",
						"     DBdimCliente@ESTADO != SelecionaColunas@ESTADO\r",
						"),",
						"     negate:false,",
						"     broadcast: 'auto')~> DadosAlteradosSCD2",
						"DadosAlteradosSCD2 derive(DT_FIM = addDays(currentDate('GMT-3'), -1),",
						"          ATIVO = 'N') ~> ColunaDtFim",
						"ColunaDtFim alterRow(updateIf(1==1)) ~> Condicao1",
						"CSVdimClientes, CSVenderecos join(CSVdimClientes@COD_CIDADE == CSVenderecos@COD_CIDADE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinEnderecos",
						"SelecionaColunas, DBdimCliente exists(DBdimCliente@COD_CLIENTE == SelecionaColunas@COD_CLIENTE && (     \r",
						"     DBdimCliente@NOME_CLIENTE != SelecionaColunas@NOME_CLIENTE || \r",
						"     DBdimCliente@PORTE != SelecionaColunas@PORTE || \r",
						"     DBdimCliente@RISCO_CREDITO != SelecionaColunas@RISCO_CREDITO ||\r",
						"     DBdimCliente@CIDADE != SelecionaColunas@CIDADE || \r",
						"     DBdimCliente@ESTADO != SelecionaColunas@ESTADO\r",
						"),",
						"     negate:false,",
						"     broadcast: 'auto')~> DadosAtualizados",
						"LeftJoinRiscoCredito select(mapColumn(",
						"          COD_CLIENTE = CSVdimClientes@COD_CLIENTE,",
						"          NOME_CLIENTE = CSVdimClientes@NOME_CLIENTE,",
						"          PORTE,",
						"          RISCO_CREDITO,",
						"          SIGLA,",
						"          CIDADE,",
						"          ESTADO,",
						"          PAIS,",
						"          LATITUDE,",
						"          LONGITUDE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelecionaColunas",
						"SelecionaColunas, DBdimCliente exists(SelecionaColunas@COD_CLIENTE == DBdimCliente@COD_CLIENTE,",
						"     negate:true,",
						"     broadcast: 'auto')~> DadosNovos",
						"LeftJoinEnderecos, CSVlatitudeLongitude join(CSVdimClientes@COD_CLIENTE == CSVlatitudeLongitude@COD_CLIENTE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinLatitudeLongitude",
						"LeftJoinLatitudeLongitude, CSVriscoCredito join(CSVdimClientes@COD_CLIENTE == CSVriscoCredito@COD_CLIENTE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinRiscoCredito",
						"DadosNovos sort(asc(COD_CLIENTE, false)) ~> ClassificaCodCliente1",
						"DadosAtualizados sort(asc(COD_CLIENTE, true)) ~> ClassificaCodCliente2",
						"DBdimCliente, SelecionaColunas exists(DBdimCliente@COD_CLIENTE == SelecionaColunas@COD_CLIENTE && (     \r",
						"     DBdimCliente@LATITUDE != SelecionaColunas@LATITUDE ||\r",
						"    DBdimCliente@LONGITUDE != SelecionaColunas@LONGITUDE\r",
						"),",
						"     negate:false,",
						"     broadcast: 'auto')~> DadosAlteradosSCD1",
						"DadosAlteradosSCD1 alterRow(updateIf(1==1)) ~> Condicao2",
						"ClassificaCodCliente2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string,",
						"          LATITUDE as decimal(6,4),",
						"          LONGITUDE as decimal(6,4),",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          COD_CLIENTE,",
						"          NOME_CLIENTE,",
						"          PORTE,",
						"          RISCO_CREDITO,",
						"          SIGLA,",
						"          CIDADE,",
						"          ESTADO,",
						"          PAIS,",
						"          LATITUDE,",
						"          LONGITUDE",
						"     )) ~> InsereBD2",
						"Condicao1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string,",
						"          LATITUDE as decimal(6,4),",
						"          LONGITUDE as decimal(6,4),",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['SK_CLIENTE'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 3,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SK_CLIENTE,",
						"          ATIVO,",
						"          DT_FIM",
						"     )) ~> AlteraBD1",
						"ClassificaCodCliente1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string,",
						"          LATITUDE as decimal(6,4),",
						"          LONGITUDE as decimal(6,4),",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          COD_CLIENTE,",
						"          NOME_CLIENTE,",
						"          PORTE,",
						"          RISCO_CREDITO,",
						"          SIGLA,",
						"          CIDADE,",
						"          ESTADO,",
						"          PAIS,",
						"          LATITUDE,",
						"          LONGITUDE",
						"     )) ~> InsereBD1",
						"Condicao2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string,",
						"          LATITUDE as decimal(6,4),",
						"          LONGITUDE as decimal(6,4),",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['SK_CLIENTE'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SK_CLIENTE,",
						"          LATITUDE,",
						"          LONGITUDE",
						"     )) ~> AlteraBD2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_data_lake_risco_credito')]",
				"[concat(variables('factoryId'), '/datasets/ds_data_lake_latitude_long_clientes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dimensao_clientes_primeira')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Primeira Carga"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "CSVdimClientes",
							"description": "Import data from ds_data_lake_bd_dim_clientes"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_enderecos",
								"type": "DatasetReference"
							},
							"name": "CSVenderecos"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_risco_credito",
								"type": "DatasetReference"
							},
							"name": "CSVriscoCredito"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_latitude_long_clientes",
								"type": "DatasetReference"
							},
							"name": "CSVlatitudeLongitude"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_cliente",
								"type": "DatasetReference"
							},
							"name": "InsereBD"
						}
					],
					"transformations": [
						{
							"name": "LeftJoinEnderecos"
						},
						{
							"name": "SelecionaColunas"
						},
						{
							"name": "LeftJoinLatitudeLongitude"
						},
						{
							"name": "LeftJoinRiscoCredito"
						},
						{
							"name": "ClassificaCodCliente"
						},
						{
							"name": "ColunaDTinicioNula"
						}
					],
					"scriptLines": [
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          DT_DESATIVACAO as string,",
						"          PORTE as string,",
						"          COD_CIDADE as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVdimClientes",
						"source(output(",
						"          COD_CIDADE as integer,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVenderecos",
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVriscoCredito",
						"source(output(",
						"          COD_CLIENTE as integer,",
						"          LATITUDE as double,",
						"          LONGITUDE as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVlatitudeLongitude",
						"CSVdimClientes, CSVenderecos join(CSVdimClientes@COD_CIDADE == CSVenderecos@COD_CIDADE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinEnderecos",
						"LeftJoinRiscoCredito select(mapColumn(",
						"          COD_CLIENTE = CSVdimClientes@COD_CLIENTE,",
						"          NOME_CLIENTE = CSVdimClientes@NOME_CLIENTE,",
						"          PORTE,",
						"          RISCO_CREDITO,",
						"          SIGLA,",
						"          CIDADE,",
						"          ESTADO,",
						"          PAIS,",
						"          LATITUDE,",
						"          LONGITUDE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelecionaColunas",
						"LeftJoinEnderecos, CSVlatitudeLongitude join(CSVdimClientes@COD_CLIENTE == CSVlatitudeLongitude@COD_CLIENTE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinLatitudeLongitude",
						"LeftJoinLatitudeLongitude, CSVriscoCredito join(CSVdimClientes@COD_CLIENTE == CSVriscoCredito@COD_CLIENTE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinRiscoCredito",
						"ColunaDTinicioNula sort(asc(COD_CLIENTE, false)) ~> ClassificaCodCliente",
						"SelecionaColunas derive(DT_INICIO = '') ~> ColunaDTinicioNula",
						"ClassificaCodCliente sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_CLIENTE as integer,",
						"          COD_CLIENTE as integer,",
						"          NOME_CLIENTE as string,",
						"          PORTE as string,",
						"          RISCO_CREDITO as string,",
						"          SIGLA as string,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string,",
						"          LATITUDE as decimal(6,4),",
						"          LONGITUDE as decimal(6,4),",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          COD_CLIENTE,",
						"          NOME_CLIENTE,",
						"          PORTE,",
						"          RISCO_CREDITO,",
						"          SIGLA,",
						"          CIDADE,",
						"          ESTADO,",
						"          PAIS,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          DT_INICIO",
						"     )) ~> InsereBD"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_data_lake_risco_credito')]",
				"[concat(variables('factoryId'), '/datasets/ds_data_lake_latitude_long_clientes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dimensao_produto')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_dim_produto",
								"type": "DatasetReference"
							},
							"name": "CSVdimProduto",
							"description": "Import data from ds_data_lake_bd_dim_produto"
						},
						{
							"dataset": {
								"referenceName": "ds_data_lake_bd_enderecos",
								"type": "DatasetReference"
							},
							"name": "CSVenderecos"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_produto",
								"type": "DatasetReference"
							},
							"name": "DBdimProduto",
							"description": "Import data from ds_azure_sql_db_dim_produto"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_produto",
								"type": "DatasetReference"
							},
							"name": "InsereBD2"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_produto",
								"type": "DatasetReference"
							},
							"name": "AlteraBD"
						},
						{
							"dataset": {
								"referenceName": "ds_azure_sql_db_dim_produto",
								"type": "DatasetReference"
							},
							"name": "InsereBD1"
						}
					],
					"transformations": [
						{
							"name": "DadosAlterados"
						},
						{
							"name": "ColunaDtFim"
						},
						{
							"name": "Condicao"
						},
						{
							"name": "LeftJoinEnderecos"
						},
						{
							"name": "DadosAtualizados"
						},
						{
							"name": "SelecionaColunas"
						},
						{
							"name": "DadosNovos"
						},
						{
							"name": "ClassifcaSKU1"
						},
						{
							"name": "ClassificaSKU2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SKU as string,",
						"          PRODUTO as string,",
						"          DT_DESATIVACAO as string,",
						"          CATEGORIA as string,",
						"          ARMAZEM as string,",
						"          COD_CIDADE as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVdimProduto",
						"source(output(",
						"          COD_CIDADE as integer,",
						"          CIDADE as string,",
						"          ESTADO as string,",
						"          PAIS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> CSVenderecos",
						"source(output(",
						"          SK_PRODUTO as integer,",
						"          SKU as string,",
						"          PRODUTO as string,",
						"          CATEGORIA as string,",
						"          ARMAZEM as string,",
						"          CIDADE_ARMAZEM as string,",
						"          ATIVO as string,",
						"          DT_FIM as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT\\n      [SK_PRODUTO]\\n      ,[SKU]\\n      ,[PRODUTO]\\n      ,[CATEGORIA]\\n      ,[ARMAZEM]\\n      ,[CIDADE_ARMAZEM]\\n      ,[ATIVO]\\n      ,[DT_FIM]\\nFROM [comercial].[dimensao_produto]\\nWHERE \\n       [ATIVO] = \\'S\\'',",
						"     format: 'query') ~> DBdimProduto",
						"DBdimProduto, SelecionaColunas exists(DBdimProduto@SKU == SelecionaColunas@SKU && (\r",
						"     DBdimProduto@PRODUTO != SelecionaColunas@PRODUTO || \r",
						"     DBdimProduto@CATEGORIA != SelecionaColunas@CATEGORIA || \r",
						"     DBdimProduto@ARMAZEM != SelecionaColunas@ARMAZEM\r",
						"),",
						"     negate:false,",
						"     broadcast: 'auto')~> DadosAlterados",
						"DadosAlterados derive(DT_FIM = addDays(currentDate('GMT-3'), -1),",
						"          ATIVO = 'N') ~> ColunaDtFim",
						"ColunaDtFim alterRow(updateIf(1==1)) ~> Condicao",
						"CSVdimProduto, CSVenderecos join(CSVdimProduto@COD_CIDADE == CSVenderecos@COD_CIDADE,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> LeftJoinEnderecos",
						"SelecionaColunas, DBdimProduto exists(DBdimProduto@SKU == SelecionaColunas@SKU && (",
						"     DBdimProduto@PRODUTO != SelecionaColunas@PRODUTO || ",
						"     DBdimProduto@CATEGORIA != SelecionaColunas@CATEGORIA || ",
						"     DBdimProduto@ARMAZEM != SelecionaColunas@ARMAZEM",
						"),",
						"     negate:false,",
						"     broadcast: 'auto')~> DadosAtualizados",
						"LeftJoinEnderecos select(mapColumn(",
						"          SKU,",
						"          PRODUTO,",
						"          CATEGORIA,",
						"          ARMAZEM,",
						"          CIDADE_ARMAZENAGEM = CIDADE",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelecionaColunas",
						"SelecionaColunas, DBdimProduto exists(SelecionaColunas@SKU == DBdimProduto@SKU,",
						"     negate:true,",
						"     broadcast: 'auto')~> DadosNovos",
						"DadosNovos sort(asc(toInteger(substring(SKU, 5, 9)), false)) ~> ClassifcaSKU1",
						"DadosAtualizados sort(asc(toInteger(substring(SKU, 5, 9)), false)) ~> ClassificaSKU2",
						"ClassificaSKU2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_PRODUTO as integer,",
						"          SKU as string,",
						"          PRODUTO as string,",
						"          CATEGORIA as string,",
						"          ARMAZEM as string,",
						"          CIDADE_ARMAZEM as string,",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SKU,",
						"          PRODUTO,",
						"          CATEGORIA,",
						"          ARMAZEM,",
						"          CIDADE_ARMAZEM = CIDADE_ARMAZENAGEM",
						"     )) ~> InsereBD2",
						"Condicao sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_PRODUTO as integer,",
						"          SKU as string,",
						"          PRODUTO as string,",
						"          CATEGORIA as string,",
						"          ARMAZEM as string,",
						"          CIDADE_ARMAZEM as string,",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['SK_PRODUTO'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 3,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SK_PRODUTO,",
						"          ATIVO,",
						"          DT_FIM",
						"     )) ~> AlteraBD",
						"ClassifcaSKU1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SK_PRODUTO as integer,",
						"          SKU as string,",
						"          PRODUTO as string,",
						"          CATEGORIA as string,",
						"          ARMAZEM as string,",
						"          CIDADE_ARMAZEM as string,",
						"          ATIVO as string,",
						"          DT_INICIO as date,",
						"          DT_FIM as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SKU,",
						"          PRODUTO,",
						"          CATEGORIA,",
						"          ARMAZEM,",
						"          CIDADE_ARMAZEM = CIDADE_ARMAZENAGEM",
						"     )) ~> InsereBD1"
					]
				}
			},
			"dependsOn": []
		}
	]
}